<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/home_gestor.css">
</head>
<body>
<app-cabecalho-gerenciamento />

<div class="escolhasGestao">

    <div class="containerButtons">

        <button class="btn orange">
            <i class="fa fa-dumbbell"></i>
            <a href="registro_alunos.html">Cadastrar aluno</a>
        </button>

        <button class="btn blue">
            <i class="fa fa-clipboard"></i>
            <a href="registro_professor.html">Cadastrar professor</a>
        </button>

        <button class="btn orange">
            <i class="fa fa-dumbbell"></i>
            <a href="gerenciar_alunos.html">Gerenciar alunos</a>
        </button>

        <button class="btn blue">
            <i class="fa fa-clipboard"></i>
            GERENCIAR PROFESSOR
        </button>

        <button class="btn grey" disabled>
            <i class="fa fa-users"></i>
            <a href="demandas.html">Gerenciar demandas</a>
        </button>

    </div>
</div>

</body>
</html>